timm==0.4.12 # why this version?
Pillow
blobfile
mypy
numpy
pytest
requests
einops
deepspeed==0.4.0  # Cheack if we really need this now
scipy
pyhealth==1.1.4 # Cheack if we really need this
h5py
mne==1.4.2
tensorboardX
torch
accelerate
torchvision==0.15.2
torchaudio==2.0.2
pytorch-cuda=11.8
